<form action="/" method="post">
	<textarea name="text" style="with:100%" rows="15" required></textarea>
	<input type="submit" value="Save" id="submit" class="pure-button pure-button-primary pure-button-small pull-right" required>
</form>